:root{
  --base-color: #f3b87b;
  --base-variant: #e8e9ed;
  --text-color: #bb6c5d;
  --secondary-text: #344126;
  --primary-color: #3a435d;
  
}
.darkmode{
  --base-color: #242938;
  --base-variant: #a9b8f7;
  --text-color: #082ff0;
  --secondary-text: #889cf7;
  --primary-color: #3a435d;
  
}



body{
  min-height: 100vh;
  background-color: var(--base-color);
  color:var(--text-color);
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}
#theme-switch svg{
  fill: var(--primary-color);

}

 #theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}

h1 {
    text-align: center;
    font-size: 8rem ;
    
    color: var(--text-color);
    
}

 h2{
    text-align: center;
    color: var(--text-color);
    font-weight: 100;
    font-size: 7rem;

}

h3{
    text-align: center;
    color: var(--secondary-text);
    font-weight: 100;
    font-size: 5rem;

}

nav {
    background-color: var(--text-color);
 
    
}

.navbar-item {
    padding: 0px 10px;
    font-size: 5rem;
    text-align: right;
    color: var(--secondary-text);
}

.navbar-item:hover {
  color: #fff;
  background-color: var(--secondary-text);
}



p {
    font-size: 2.5rem
}



section{
    text-align: center;
    color: var(--secondary-text);

}

.button-row{
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: var(--text-color);
  color: var(--secondary-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-text);
  color: #fff;
}



footer {
    text-align: center;
}

html {
    font-size: 62.5%;
}

.flashing-text {
  animation: colorChange 1s infinite alternate; /* Adjust duration as needed */
}

@keyframes colorChange {
  50% { color: rgb(0, 255, 229); } /* Change colors as desired */
  50% { color: rgb(255, 0, 195); }
  100% { color: rgb(11, 245, 11); } 
}

 
